@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&display=swap');
.App {
  text-align: center;
  
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.encabezado{
  font-family: 'Macondo Swash Caps', cursive;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-text{
  font-size: larger;
  color: #61dafb;
  
}

.App-header {
  background-color: #7ca2ee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(30deg);
  }
  to {
    transform: rotate(360deg);
  }
}


